@font-face {
  src:
    local('SF Pro Display'),
    url('./SF-Pro-Display-Regular.otf') format('opentype');
  font-family: 'SF-Pro-Display';
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src:
    local('SF Pro Display'),
    url('./SF-Pro-Display-Medium.otf') format('opentype');
  font-family: 'SF-Pro-Display';
  font-weight: 500;
  font-display: swap;
}
