@import '../../utils/variables.scss';

.date-select {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 21px;
    cursor: $pointer;
  }

  &__button {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: $pointer;
    color: $text-secondary;
    padding: 0;
    gap: 8px;
    align-items: center;

    &_active {
      color: $contrast;
    }
    & svg {
      fill: $arrows-color;
    }
    &:hover {
      opacity: 0.8;
      & svg {
        fill: $arrows-contrast;
      }
    }
  }

  &__dropdown {
    width: 204px;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 2px;
    background-color: $background-secondary;
    box-shadow: 0 4px 20px $shadow;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      cursor: $pointer;
      padding: 7px 20px;
      color: $text-primary;
      line-height: 2;
      color: $text-date;

      &_active {
        color: $contrast;
      }

      &:hover {
        background-color: $hover;
        color: $text-primary;
      }
    }
  }
  &__form {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  &__title {
    padding: 0;
    margin: 0;
    color: $text-primary;
    line-height: 2;
  }

  &__inputs {
    display: flex;
    flex-wrap: nowrap;
  }

  &__input {
    border: none;
    max-width: 80px;
    outline: none;
    color: $text-secondary;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
  &__submit {
    display: none;
  }
}
