.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  gap: 19px;

  &__filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
