// Цвета
$text-secondary: rgba(94, 119, 147, 1);
$text-primary: rgba(18, 41, 69, 1);
$background-primary: rgba(241, 244, 249, 1);
$background-secondary: rgb(255, 255, 255);
$hover: rgba(222, 228, 255, 1);
$shadow: rgba(0, 0, 0, 0.08);
$contrast: rgba(31, 70, 251, 1);
$arrows-color: rgba(173, 191, 223, 1);
$arrows-contrast: rgba(0, 44, 251, 1);
$text-date: rgba(137, 156, 177, 1);

// Курсор
$pointer: url('../../assets/icons/cursor-pointer.svg'), pointer;
